<div id="<%= dom_id score %>">
  <p>
    <strong>Subject:</strong>
    <%= score.subject %>
  </p>

  <h1>
    <strong>Point:</strong>
    <%= score.point %>
  </h1>

  <h1>
    <strong>Grade:</strong>
    <%= score.grade %>
  </h1>

  <h1>
    <strong>Student:</strong>
    <%= score.student_id %>
  </h1>

</div>
